/ * General * /
cuerpo {
  margen : 0 ;
  relleno : 0 ;
  font-family : 'Roboto' , sans-serif;
  alinear texto : centro;
}

/ * Formularios de entrada * /
input [ type = "text" ] ,  input [ type = "password" ] {
  esquema : ninguno;
  relleno : 20 px ;
  pantalla : bloque;
  ancho : 300 px ;
  radio de borde : 3 px ;
  borde : 1 px sólido # eee ;
  margen : 20 px automático;
}

input [ type = "submit" ] {
  relleno : 10 px ;
  color : # fff ;
  fondo : # 0098cb ;
  ancho : 320 px ;
  margen : 20 px automático;
  margen superior : 0 ;
  borde : 0 ;
  radio de borde : 3 px ;
  cursor : puntero;
}
input [ type = "submit" ]: hover {
  color de fondo : # 00b8eb ;
}

/ * Encabezado * /
encabezado {
  borde inferior : 2 px sólido # eee ;
  relleno : 20 px  0 ;
  margen inferior : 10 px ;
  ancho : 100 % ;
  alinear texto : centro;
}
encabezado  a {
  decoración de texto : ninguno;
  color : # 333 ;
}